### Import and Load Packages

In [1]:
# Load packages
import pandas as pd
import numpy as np
from datetime import date
import csv
import re
import datetime
import os
from sklearn.feature_selection import VarianceThreshold
from pandas import read_csv
from sklearn.datasets import load_breast_cancer
from datetime import date
import kaplanmeier as km
from sklearn.decomposition import PCA
import pylab as pl
from itertools import cycle
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import seaborn as sns
%matplotlib inline
from qqman import qqman
from pandas_plink import read_plink
from scipy.stats import ttest_ind
import math
import os
from lifelines import KaplanMeierFitter
from pandas import DataFrame
import pandas as pd
import seaborn as sns
sns.set(color_codes=True)
import numpy as np
from pandas.plotting import scatter_matrix
from sklearn import preprocessing
from numpy import set_printoptions
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import Binarizer
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn import datasets
import seaborn as sns; sns.set()
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import MinMaxScaler
#from xgboost import XGBClassifier
from numpy import mean
from numpy import std
from numpy import absolute
from pandas import read_csv
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import ElasticNet
from numpy import arange
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import precision_score, recall_score
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
import pandas as pd
from google.cloud import bigquery

import os
import matplotlib.pyplot as plt
import textwrap
import re
from tqdm import tqdm
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None)
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn import metrics
from pprint import pprint

### 2. Set up BigQuery Connection

Set up connection

In [2]:
user_id = 'kbechler'
nero_gcp_project = 'som-nero-nigam-starr'
cdm_project_id = 'som-nero-nigam-starr'
cdm_dataset_id = 'starr_omop_cdm5_deid_20211213'
work_project_id = 'som-nero-nigam-starr'
work_dataset_id = f'{user_id}_explore'
cdm_subset_dataset_id = 'cdm_subset'
cohort_table_id = 'exp_2022'
cohort_id = 21

In [3]:
# Use correct path whether you are local or Nero
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/home/kbechler/adc.json' 

# Set correct Nero project
os.environ['GCLOUD_PROJECT'] = nero_gcp_project
client = bigquery.Client(project = work_project_id)

In [4]:
# Import list of patients for held out test set
heldout_test_set = pd.read_csv('/home/kbechler/test_set.csv')

In [5]:
test_patients = tuple(heldout_test_set.patient_id)

### Create training and test set in BigQuery

In [6]:
sql = "select * from som-nero-nigam-starr.kbechler_explore.exp_2022"
exp_2022 = client.query(sql).to_dataframe()

In [7]:
exp_2022.head()

   cohort_definition_id  subject_id cohort_start_date cohort_end_date
0                    21    32209409        2011-08-12      2015-07-24
1                    21    30924418        2011-09-27      2017-08-30
2                    21    31008811        2010-09-16      2019-01-24
3                    21    30742058        2011-11-29      2019-10-07
4                    21    32400899        2012-08-06      2021-03-02

In [13]:
df_clmbr = pd.read_csv('/home/kbechler/piton_private/df_clmbr_2022.csv')

In [14]:
df_clmbr.head()

   patient_id        date  label
0    32209409  2011-08-12  False
1    30924418  2011-09-27  False
2    31008811  2010-09-16  False
3    30742058  2011-11-29  False
4    32400899  2012-08-06  False

In [15]:
len(df_clmbr)

2853

In [16]:
print(df_clmbr.patient_id.nunique())

2853

In [18]:
len(df_clmbr[df_clmbr.label == True])

177

In [19]:
test = df_clmbr[df_clmbr.patient_id.isin(test_patients)]

In [20]:
len(test)

571

In [21]:
test.head()

    patient_id        date  label
4     32400899  2012-08-06  False
6     31253083  2021-11-05  False
21    32462300  2014-08-26  False
23    30804073  2021-01-15  False
25    32524373  2018-06-07  False

In [24]:
test.label.unique()

array([False,  True])

In [25]:
print(sum(test.label == True))

35

In [7]:
query = """

CREATE OR REPLACE TABLE
`som-nero-nigam-starr.kbechler_explore.exp_test` AS
SELECT *
FROM 
`som-nero-nigam-starr.kbechler_explore.exp_2022` exp_2022
WHERE
subject_id IN{}""".format(test_patients)

client.query(query).result();

In [8]:
sql = "select * from som-nero-nigam-starr.kbechler_explore.exp_test"
exp_test = client.query(sql).to_dataframe()

In [9]:
query = """

CREATE OR REPLACE TABLE
`som-nero-nigam-starr.kbechler_explore.exp_train` AS
SELECT *
FROM 
`som-nero-nigam-starr.kbechler_explore.exp_2022` exp_2022
WHERE
subject_id NOT IN{}""".format(test_patients)

client.query(query).result();

In [11]:
sql = "select * from som-nero-nigam-starr.kbechler_explore.exp_train"
exp_train = client.query(sql).to_dataframe()

In [12]:
print(len(exp_test))
print(len(exp_train))

571
2282

In [21]:
query = """

CREATE OR REPLACE TABLE
`som-nero-nigam-starr.kbechler_explore.out_test` AS
SELECT *
FROM
`som-nero-nigam-starr.kbechler_explore.out_2022` out_2022
WHERE
subject_id IN{}""".format(test_patients)

client.query(query).result();

In [22]:
query = """

CREATE OR REPLACE TABLE
`som-nero-nigam-starr.kbechler_explore.out_train` AS
SELECT *
FROM 
`som-nero-nigam-starr.kbechler_explore.out_2022` out_2022
WHERE
subject_id NOT IN{}""".format(test_patients)

client.query(query).result();